---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'materialize';
@import 'font-awesome';

.social{

  text-align: center;

  .icon {
    padding-right: 5px;
  }

  li {
    display: inline-block;
  }

  li + li {
    padding-top: 5px;
  }
}
